<template lang="pug">
  div
    .row.align-items-center 
      .col(v-if="!hideAllLink")
        a.btn-back.d-inline-block(
          href="javascript:void(0);"
          @click="$router.back()"
          v-if="!isHomeRoute"
          title="Back"
        )
        .d-inline-block
          b-dropdown.m-2(variant="link" v-if="isLogged" )          
            template(slot="button-content")
              span.user-after-login
                span.hidden-xs-s {{userName}}
            b-dropdown-item.item.display-xs-s
              i.fas.fa-user
              | {{userName}}
            // b-dropdown-item.item(@click="$router.push({name:'history'})" variant="link")
            //   i.fas.fa-history
            //   | Transaction History
            b-dropdown-item.item(@click="logout" variant="link")
              i.fas.fa-sign-out-alt 
              | {{$t('login.txt_logout')}}
          // router-link.text-semi-medium.ml-3(v-else :to="{name:'login'}") 
          //   | Login

      .col
        router-link.logo(:to="{name:'home'}" v-if="!hideAllLink")     
          img(src="/static/images/logo.png").img-fluid
        span.logo(v-else)
          img(src="/static/images/logo.png").img-fluid
      .col.text-right.d-flex.align-items-center.justify-content-end(v-if="!hideAllLink")
        // a.icon-close.float-right(href="javascript:void(0);" @click="onClose") 
        //   img(src="/static/images/icon-close.png").img-fluid
        router-link.link-history(:to="{name:'history'}" title="Transaction History" v-if="showHistoryMenu" )
          i.fas.fa-history
          | {{$t('history.transaction_history')}}
        // LanguageSelect

</template>



<style lang="stylus" scoped>
  .icon-close
    opacity 1
  .row
    height 50px  
    white-space nowrap
  .logo
    width 90px
    margin 0 auto
  .user-after-login,.btn-back 
    vertical-align middle
  .btn-back 
    width 8px
    height 15px
    margin-right 2  px
    background-image url(/static/images/icon-back.png)
    background-repeat no-repeat
    background-size 100% 100%
  .link-history
    font-size 13px
    @media(max-width 500px)
      font-size 0
      
    i 
      padding-right 5px
    
      @media(max-width 500px)
        font-size 20px
  
    
  

</style>


<script lang="ts">
import Vue from "vue";
import { mapState, mapGetters } from 'vuex'
import _ from 'lodash'
// import LanguageSelect from './LanguageSelect.vue'

export default Vue.extend({
  name: "CentralHeader",
  components:{
    // LanguageSelect,
  },
  computed:{
    ...mapState('account',['profile']),
    ...mapGetters('account',['isLogged']),
    ...mapState("papi",['topups','config']),
    paymentid() : string{
      return this.$route.params.paymentid
    },
    paymentdata() : PAPI.TopUp.Res{
      return _.get(this,'topups.'+ this.paymentid,{})
    },
    userName() : string {
      // return "dsd@gmail.com"
      return (this as any).profile.email || 'Logged'
    },
    isHomeRoute(): boolean {
      return this.$route.name == 'home'
    },
    isInApp(): boolean {
      return this.$route.query.inapp !== undefined
    },
    isConfirmPage(): boolean {
      return (this.$route.name || '').includes('confirm')
    },
    isPaymentSuccessfully(): boolean {
      return this.isConfirmPage && (this.paymentdata.status == 'success' || this.paymentdata.status == 'processing')
    },
    hideAllLink(): boolean {
      return this.isInApp || this.isPaymentSuccessfully
    },
    showHistoryMenu(): boolean {
      return (<any>this).isLogged || (this.$route.name || '').includes('ccard')
    },
  },
  methods:{
    logout(){
      this.$store.dispatch("account/logout");
    },
    onClose(){
      window.close();
    },
  },
  mounted(){
    (this as any).isLogged && this.$store.dispatch('account/getProfile');
  },
  watch:{
    isLogged(value){
      if(value)
        this.$store.dispatch('account/getProfile');
    }
  }
});
</script>
