<template lang="pug">
  b-dropdown.m-2(variant="link" v-if="isLogged" right)          
    template(slot="button-content")
      span.text-small.text-bold.text-uppercase {{languageCode}}
    b-dropdown-item.item(@click="changeLanguage('en')" variant="link")
      i.fas.fa-sign-out-alt 
      | English
    b-dropdown-item.item(@click="changeLanguage('zh')" variant="link")
      i.fas.fa-sign-out-alt 
      | ZH - Chinese

</template>



<style lang="stylus" scoped>
</style>


<script lang="ts">
import Vue from "vue";
import { mapState, mapGetters } from "vuex";
import { Validator } from "vee-validate";

import _ from "lodash";
import store from "store";
const loadedI18nLocales = ["en"];

export default Vue.extend({
  name: "LanguageSelect",
  computed: {
    ...mapState("account", ["profile"]),
    ...mapGetters("account", ["isLogged"]),
    languageCode(): string {
      return this.$i18n.locale.slice(0,2);
    }
  },
  methods: {
    changeLanguage(localeName:string = '') {
      store.set("lang", localeName);
      if (loadedI18nLocales.includes(localeName)) {
        Validator.localize(localeName);
        this.$i18n.locale = localeName;
        return Promise.resolve();
      }
      const importLang = {
        'zh': 'zh_CN'
      }[localeName] || "en"

      return Promise.all([
        // import(`@/i18n/${localeName}`),
        null,
        import(`vee-validate/dist/locale/${importLang}`)
      ])
        .then(([locale, veeLocale]) => {
          // this.$i18n.setLocaleMessage(localeName, locale.locale);
          this.$i18n.locale = localeName;
          loadedI18nLocales.push(localeName);

          // locale = _.defaultsDeep(dict, locale);
          Validator.localize(importLang, veeLocale);
          this.$validator.localize(veeLocale);
        })
        .then(() => this.$forceUpdate());
    }
  },
  mounted() {},
  watch: {}
});
</script>
