<template lang="pug">
  div
    .content-payment
      .main
        router-view
</template>


<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "CentralLayout",
  components:{
  },
});
</script>
